{{ template "header_default" . }}
<div class="container">
    <h1>Request a certificate by CSR</h1>

    <form method="post" enctype="multipart/form-data">

    </form>
</div>
{{ template "footer_default" . }}