{{ template "header_default" . }}
<div class="container">
    <h1>Dashboard</h1>

    <p><a href="/download/root-certificate">Download the root certificate</a> </p>
</div>
{{ template "footer_default" . }}