{{ define "header_default" }}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>CertMaker</title>
    <!-- IE only -->
    <link rel="shortcut icon" type="image/x-icon" href="/favicon.ico" />
    <!-- other browsers -->
    <link rel="icon" type="image/x-icon" href="/favicon.ico" />
    <link rel="stylesheet" href="/static/static/css/bootstrap.min.css" />
</head>
<body>

<div class="container">

    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container-fluid">
            <a class="navbar-brand" href="/">CertMaker</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                    data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="/">Dashboard</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown1" role="button"
                           data-bs-toggle="dropdown" aria-expanded="false">
                            Certificates
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="navbarDropdown1">
                            <li><a class="dropdown-item" href="/certificate/list">Certificate List</a></li>
                            <li>
                                <hr class="dropdown-divider">
                            </li>
                            <li><a class="dropdown-item" href="/certificate/add">Generate</a></li>
                            <li><a class="dropdown-item" href="/certificate/add-with-csr">Generate with CSR</a></li>
                        </ul>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown2" role="button"
                           data-bs-toggle="dropdown" aria-expanded="false">
                            Administration
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="navbarDropdown2">
                            <li><a class="dropdown-item" href="/admin/settings">System Settings</a></li>
                            <li><a class="dropdown-item" href="/admin/issuer/list">Issuers</a></li>
                            <li><a class="dropdown-item" href="/admin/jobs">Jobs</a></li>
                            <li>
                                <hr class="dropdown-divider">
                            </li>
                            <li><a class="dropdown-item" href="/admin/user/list">List Users</a></li>
                            <li><a class="dropdown-item" href="/admin/user/add">Add User</a></li>
                        </ul>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown3" role="button"
                           data-bs-toggle="dropdown" aria-expanded="false">
                            Personal
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="navbarDropdown3">
                            <li><a class="dropdown-item" href="/user/profile">Profile</a></li>
                            <li><a class="dropdown-item" href="/user/apikey/list">API keys</a></li>
                            <li>
                                <hr class="dropdown-divider">
                            </li>
                            <li><a class="dropdown-item" href="/auth/logout">Log out</a></li>
                        </ul>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown4" role="button"
                           data-bs-toggle="dropdown" aria-expanded="false">
                            Docs
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="navbarDropdown4">
                            <li><a class="dropdown-item" href="https://github.com/KaiserWerk/CertMaker/blob/master/http-01-challenge.md">HTTP-01 Challenge</a></li>
                            <li><a class="dropdown-item" href="https://github.com/KaiserWerk/CertMaker/blob/master/dns-01-challenge">DNS-01 Challenge</a></li>
                        </ul>
                    </li>
                </ul>
                <form class="d-flex">

                </form>
            </div>
        </div>
    </nav>
{{ end }}

{{ define "footer_default" }}

    </div>
    <script src="/static/static/js/bootstrap.min.js"></script>
    </body>
    </html>
{{ end }}

{{ define "header_auth" }}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>CertMaker</title>
    <!-- IE -->
    <link rel="shortcut icon" type="image/x-icon" href="/favicon.ico"/>
    <!-- other browsers -->
    <link rel="icon" type="image/x-icon" href="/favicon.ico"/>
    <link rel="stylesheet" href="/static/static/css/bootstrap.min.css" type="text/css"/>
</head>
<body>
<div class="container">
    <div class="row align-items-center mt-5">
        <div class="col-3"></div>
        <div class="col-6">
{{ end }}

{{ define "footer_auth" }}
        </div>
        <div class="col-3"></div>
    </div>
</div>
    
<script src="/static/static/js/bootstrap.min.js"></script>
</body>
</html>
{{ end }}