{{ template "header_default" . }}
<div class="container">
    <h2>Request a certificate by CSR</h2>

    {{ if .Error }}
        {{ template "error_alert" .Error }}
    {{ end }}
    {{ if .Success }}
        {{ template "success_alert" .Success }}
    {{ end }}
    {{ if .Info }}
        {{ template "info_alert" .Info }}
    {{ end }}

    <form method="post" enctype="multipart/form-data">

        <div class="row">
            <div class="col-md-3 label-row"><label for="csr_file">CSR file*</label></div>
            <div class="col-md-9 label-row"><input type="file" class="form-control" id="csr_file" name="csr_file" accept=".csr" required></div>
        </div>
        <br>
        <button type="submit" class="btn btn-primary">Generate certificate from CSR</button>

    </form>
</div>
{{ template "footer_default" . }}