{{ template "header_default" . }}
<div class="container">
    <h2>All available certificates</h2>

    {{ if .Error }}
        {{ template "error_alert" .Error }}
    {{ end }}
    {{ if .Success }}
        {{ template "success_alert" .Success }}
    {{ end }}
    {{ if .Info }}
        {{ template "info_alert" .Info }}
    {{ end }}

    <table class="table">
        <thead>
        <tr>
            <th>#</th>
            <th>Serial Number</th>
            <th>Certificate</th>
            <th>Private Key</th>
            <th>Status</th>
            <th>Action</th>
        </tr>
        </thead>
        <tbody>
        {{ range .CertInfos }}
        <tr>
            <td>{{ .ID }}</td>
            <td>{{ .SerialNumber }}</td>
            <td><a href="/certificate/{{ .ID }}/download">Download</a></td>
            <td>{{ if eq .FromCSR false }}<a href="/privatekey/{{ .ID }}/download">Download</a>{{ end }}</td>
            <td>{{ if eq .Revoked true }}<span title="{{ .RevokedAt }}">Revoked</span>{{ else }}Good{{ end }}</td>
            <td>
                {{ if eq .Revoked false }}
                <a href="/certificate/{{ .ID }}/revoke" onclick="return confirm('Really revoke certificate with S/N {{ .SerialNumber }}');">Revoke</a>
                {{ end }}
            </td>
        </tr>
        {{ else }}
        <tr>
            <td colspan="3">No leaf certs found. <a href="/add">Create one!</a></td>
        </tr>
        {{ end }}
        </tbody>
    </table>
</div>
{{ template "footer_default" . }}