{{ template "header_default" . }}
<div class="container">
    <h2>Dashboard</h2>

    {{ if .Error }}
        {{ template "error_alert" .Error }}
    {{ end }}
    {{ if .Success }}
        {{ template "success_alert" .Success }}
    {{ end }}
    {{ if .Info }}
        {{ template "info_alert" .Info }}
    {{ end }}

    <p><a href="/root-certificate/download">Download the root certificate</a></p>

    <table class="table table-condensed">
        <thead>
        <tr>
            <th>Total number of certificates</th>
            <th>By CSR</th>
            <th>By SimpleRequest</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td>{{ .CertCount }}</td>
            <td>{{ .ByCSRCount }}</td>
            <td>{{ .BySRCount }}</td>
        </tr>
        </tbody>
    </table>
</div>
{{ template "footer_default" . }}