{{ template "header_default" . }}
<div class="container">
    <h3>Change System Settings</h3>

    {{ if .Error }}
        {{ template "error_alert" .Error }}
    {{ end }}
    {{ if .Success }}
        {{ template "success_alert" .Success }}
    {{ end }}
    {{ if .Info }}
        {{ template "info_alert" .Info }}
    {{ end }}

    <div class="row">
        <div class="col-md-12">
            <form method="post">
                <input type="hidden" name="form" value="authentication">
                <fieldset>
                    <legend>Authentication</legend>

                    {{ $disableRegistration := index .AdminSettings .SettingDisableRegistration }}
                    <input type="checkbox" id="{{ .SettingDisableRegistration }}" name="{{ .SettingDisableRegistration }}" value="true"{{if eq $disableRegistration "true"}} checked{{end}}>
                    <label for="{{ .SettingDisableRegistration }}">Disable user account registration</label><br>

                    {{ $requireEmailConfirmationOnRegistration := index .AdminSettings .SettingRequireEmailConfirmationOnRegistration }}
                    <input type="checkbox" id="{{ .SettingRequireEmailConfirmationOnRegistration }}" name="{{ .SettingRequireEmailConfirmationOnRegistration }}" value="true"{{if eq $requireEmailConfirmationOnRegistration "true"}} checked{{end}}>
                    <label for="{{ .SettingRequireEmailConfirmationOnRegistration }}">Require email confirmation for registration</label><br>



                    <br><button type="submit" class="btn btn-primary">Save changes</button>
                </fieldset>
            </form>
        </div>
    </div>

    <div class="row mt-4">
        <div class="col-md-12">
            <form method="post">
                <input type="hidden" name="form" value="certificates_and_requests">
                <fieldset>
                    <legend>Certificates &amp; Requests</legend>

                    {{ $enableSimpleRequestMode := index .AdminSettings .SettingEnableSimpleRequestMode }}
                    <input type="checkbox" id="{{ .SettingEnableSimpleRequestMode }}" name="{{ .SettingEnableSimpleRequestMode }}" value="true"{{if eq $enableSimpleRequestMode "true"}} checked{{end}}>
                    <label for="{{ .SettingEnableSimpleRequestMode }}">Simple Mode</label><br>
                    <small style="margin-left: 30px;">CertMaker generates both a private key and a certificate for the requester</small><br>

                    {{ $enableCSRRequestMode := index .AdminSettings .SettingEnableCSRRequestMode }}
                    <input type="checkbox" id="{{ .SettingEnableCSRRequestMode }}" name="{{ .SettingEnableCSRRequestMode }}" value="true"{{if eq $enableCSRRequestMode "true"}} checked{{end}}>
                    <label for="{{ .SettingEnableCSRRequestMode }}">CSR Mode</label><br>
                    <small style="margin-left: 30px;">CertMaker generates a certificate by the requester's provided certificate signing request (CSR)</small><br>

                    <br>

                    {{ $disableFileRetention := index .AdminSettings .SettingDisableFileRetention }}
                    <input type="checkbox" id="{{ .SettingDisableFileRetention }}" name="{{ .SettingDisableFileRetention }}" value="true"{{if eq $disableFileRetention "true"}} checked{{end}}>
                    <label for="{{ .SettingDisableFileRetention }}">Disable retention of generated certificates (and private keys)</label><br>

                    {{ $enableHttp01Challenge := index .AdminSettings .SettingEnableHTTP01Challenge }}
                    <input type="checkbox" id="{{ .SettingEnableHTTP01Challenge }}" name="{{ .SettingEnableHTTP01Challenge }}" value="true"{{if eq $enableHttp01Challenge "true"}} checked{{end}}>
                    <label for="{{ .SettingEnableHTTP01Challenge }}">Enable HTTP-01 challenge</label><br>
                    <small style="margin-left: 30px;">The requester must place the challenge token at a .well-known location reachable via HTTP. Read more (TODO)</small><br>

                    {{ $enableDns01Challenge := index .AdminSettings .SettingEnableDNS01Challenge }}
                    <input type="checkbox" id="{{ .SettingEnableDNS01Challenge }}" name="{{ .SettingEnableDNS01Challenge }}" value="true"{{if eq $enableDns01Challenge "true"}} checked{{end}}>
                    <label for="{{ .SettingEnableDNS01Challenge }}">Enable DNS-01 challenge</label><br>
                    <small style="margin-left: 30px;">The requester must set a TXT record containing the challenge token. Read more (TODO)</small><br>

                    <br><button type="submit" class="btn btn-primary">Save changes</button>
                </fieldset>
            </form>

        </div>
    </div>
</div>
{{ template "footer_default" . }}