{{ template "header_default" . }}
<div class="container">
    <h2>Profile</h2>
    
    {{ if .Error }}
        {{ template "error_alert" .Error }}
    {{ end }}
    {{ if .Success }}
        {{ template "success_alert" .Success }}
    {{ end }}
    {{ if .Info }}
        {{ template "info_alert" .Info }}
    {{ end }}

    <div class="row">
        <form method="post" style="width: 95%;">
            <input type="hidden" name="form_name" value="personal_data">
            <div class="row" style="margin-top: 30px;">
                <div class="col-md-4"><label for="username">Your username</label></div>
                <div class="col-md-8"><input type="text" name="username" id="username" value="{{ .User.Username }}"></div>
            </div>
            <div class="row" style="margin-top: 30px;">
                <div class="col-md-4"><label for="email">Your email</label></div>
                <div class="col-md-8"><input type="text" name="email" id="email" value="{{ .User.Email }}"></div>
            </div>
            <div class="row" style="margin-top: 30px;">
                <div class="col-md-4"><label>Your API Token</label></div>
                <div class="col-md-8">{{ .User.ApiKey }}<br><a href="/user/regenerate-key" onclick="return confirm('Really regenerate API token?');">Regenerate the token</a></div>
            </div>
            <div class="row" style="margin-top: 30px;">
                <div class="col-md-4"><label for="confirm_with_password">Confirm your password</label></div>
                <div class="col-md-8"><input type="password" name="confirm_with_password" id="confirm_with_password" required></div>
            </div>

            <button type="submit" class="btn btn-primary">Save changes</button>
        </form>
    </div>

    <div class="row">
        <form method="post" style="width: 95%;">
            <input type="hidden" name="form_name" value="change_password">
            <div class="row" style="margin-top: 30px;">
                <div class="col-md-4"><label for="new_password">Your new password</label></div>
                <div class="col-md-8"><input type="password" name="new_password" id="new_password" required></div>
            </div>
            <div class="row" style="margin-top: 30px;">
                <div class="col-md-4"><label for="new_password2">Repeat your new password</label></div>
                <div class="col-md-8"><input type="password" name="new_password2" id="new_password2" required></div>
            </div>
            <div class="row" style="margin-top: 30px;">
                <div class="col-md-4"><label for="confirm_with_password">Confirm your password</label></div>
                <div class="col-md-8"><input type="password" name="confirm_with_password" id="confirm_with_password" required></div>
            </div>

            <button type="submit" class="btn primary">Set new password</button>
        </form>

        <a href="/user/profile" style="margin-left: 10px;">Back to profile</a>
    </div>
</div>
{{ template "footer_default" . }}