{{ template "header_default" . }}
<div class="container">
    <h2>Profile</h2>

    {{ if .Error }}
        {{ template "error_alert" .Error }}
    {{ end }}
    {{ if .Success }}
        {{ template "success_alert" .Success }}
    {{ end }}
    {{ if .Info }}
        {{ template "info_alert" .Info }}
    {{ end }}

    <div class="row" style="margin-top: 30px;">
        <div class="col-md-4">Your username</div>
        <div class="col-md-8">{{ .User.Username }}</div>
    </div>
    <div class="row" style="margin-top: 30px;">
        <div class="col-md-4">Your email</div>
        <div class="col-md-8">{{ .User.Email }}</div>
    </div>
    <div class="row" style="margin-top: 30px;">
        <div class="col-md-4">Admin</div>
        <div class="col-md-8">{{ if eq .User.Admin true }}Yes{{ else }}No{{ end }}</div>
    </div>
    <br>
    <a href="/user/profile/edit" style="margin-left: 10px;">Edit Profile</a>

</div>
{{ template "footer_default" . }}